@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size:62.5%; /* 1rem = 16px  */
}

body{

    font-size: 2rem;
    background:linear-gradient(to bottom right,#17812a,#59bc5e);
    font-family: 'Comfortaa', cursive;
    font-weight:400;
    

}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    gap:4rem;
    flex-wrap: wrap;
}